#se {
    background-color: #e9edcd;
    padding: 10px;
    margin-bottom: 20px;
}
#se select {
    min-width: 220px;
}
.se-image {
    width: 200px;
    text-align: center;
    padding-right: 20px;
}
.no-photo {
    font-size: 22px;
    padding-top: 40px;
    height: 80px;
    color: #444;
    background-color: #ddd;
    display: block;
}
.se-item {
    padding-bottom: 20px;
}
.se-price {
    font-size: 26px;
    text-align: right;
    padding-top: 10px;
}