<!DOCTYPE html>
<html>
<head>
	<!-- META BEGIN -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{ lang.common['SITENAME'] }}</title>
	<!-- META END -->
	<!-- STYLES BEGIN -->
	{% for style in styles %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ style }}" />
	{% endfor %}
	<!-- STYLES END -->
    {% if not data.debug %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5069809-1']);
      _gaq.push(['_setDomainName', 'ukcm.ru']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}
</head>
<body>